.news {
    width: 23.5%;
    height: 438px;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    justify-content: space-between;
    padding: 0;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    clip-path: inset( 0 0 0 round 10px);
}

.picture {
    position: relative;
}

.dateBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    /*background-color: #545454;*/
    border-radius: 0px 0px 5px 0px;
    padding: 5px;
    color: #919191;
}

.date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.news img {
    /*width: 100%;*/
    /*height: 100%;*/
    /*flex-shrink: 0;*/
    object-fit: inherit;
    /*height: 150px;*/
    height: 150px;
    background-color: #D9D9D9;
}

.description {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 248px;
}

.description .headerContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    padding: 0;
}

.description .header {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    line-height: 22px;
    /*margin-bottom: 5px;*/
}

.description .headerContainer .category {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
}

.textNews {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more {
    background: #919191;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}

.more a {
    padding-left: 0;
}


@media (min-width: 992px) and (max-width: 1279px) {
    .news {
        width: 23%;
    }
    .description {
        gap: 5px;
    }
    .description .header {
        font-size: 16px;
        line-height: 19px;
        margin-top: 5px;
    }
    .description .headerContainer .category {
        font-size: 14px;
        line-height: 17px;
    }
    .textNews {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (min-width: 681px) and (max-width: 991px) {
    .news {
        width: 31%;
    }
    .description {
        gap: 5px;
    }
    .description .header {
        font-size: 16px;
        line-height: 19px;
        margin-top: 5px;
    }
    .description .headerContainer .category {
        font-size: 14px;
        line-height: 17px;
    }
    .textNews {
        font-size: 12px;
        line-height: 14px;
    }
}

@media (min-width: 320px) and (max-width: 679px) {
    .news {
        width: 100%;
        height: 378px;
    }
    .date {
        font-size: 12px;
        line-height: 15px;
    }
    .description {
        gap: 5px;
    }
    .description .header {
        font-size: 16px;
        line-height: 19px;
        margin-top: 5px;
    }
    .description .headerContainer .category {
        font-size: 14px;
        line-height: 17px;
    }
    .textNews {
        font-size: 14px;
        line-height: 17px;
    }

    .more a {
        font-size: 14px;
        line-height: 17px;
    }
}