.container {
    height: 80vh;
    background: url("./1905.i126.001.P.m005.c30.programmer set-13.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
