.authContainer {
    /*display: flex;*/
    position: absolute;
    width: 400px;
    /*height: 300px;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.switch {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 25px;
}

.switch a {
    font-family: 'Raleway', sans-serif;
    color: #B8B8B8;
}

.active {
    color: black !important;
    border-bottom: 2px solid #B8B8B8;
}


@media (min-width: 320px) and (max-width: 750px) {
    .authContainer {
        width: 300px;
    }
}