.authContainer {
    position: absolute;
    width: 35%;
    /*height: 300px;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    align-items: center;
}

.form button {
    width: 70%;
    height: 50px;
    background-color: #009FFF !important;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.form label {
    /*font-weight: 600;*/
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}