.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    font-size: 51px;
    line-height: 62px;
}

@media (min-width: 320px) and (max-width: 679px) {
    .header {
        font-size: 20px;
        line-height: 24px;
    }
}

.general {
    padding: 20px;
    border: 1px solid #919191;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form button {
    width: 150px;
}

.line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (min-width: 320px) and (max-width: 679px) {
    .line {
        flex-direction: column;
    }
}

.line div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.avatar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19px;
}

@media (min-width: 320px) and (max-width: 679px) {
    .label {
        font-size: 14px;
        line-height: 17px;
    }
}