.header {
    background-color: white;
    border-bottom: 1px solid #B8B8B8;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    height: 58px;
}

.news {
    top: 0;
    bottom: 0;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.header img {
    height: 50px;
    float: left;
}
.loginBlock {
    margin: auto 0 auto auto;
}
a {
    text-decoration: none;
    color: black;
    /*padding-left: 20px;*/
}

.loginBlock a {
    padding-left: 20px;
}