input[type="search"],
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none !important;
}

.inputFilter {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #919191;
    border-radius: 5px;
}

.dateFilter {
    box-sizing: border-box;
    margin: 0;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #919191;
    border-radius: 0 5px 5px 0;
    vertical-align: middle;
    width: 120px;
}

.labelDate {
    height: 30px;
    padding: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #919191;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.labelDate::before {
    content: '';
    /*background-image: url("../../img/Calendar.svg") ;*/
    position: absolute;
    left: 0;
    font-size: 40px;
    color: rgb(238, 238, 238);
}

.dateContainer {
    display: flex;
    flex-direction: row;
    gap: 0;

}

.selectFilter {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 33px;
    border: 1px solid #919191;
    border-radius: 5px;
    font-size: 14px;
    appearance: none;
    background: url('../../img/arrowSelect.svg') no-repeat right;
    overflow: hidden;
    background-origin: content-box;
    box-sizing: border-box;
}

.categoryOption {
    font-size: 10px;
}

.clearDate{
    display: block;
    background: url("../../img/close.svg") no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
    margin-left: -18px;
    box-sizing: border-box;
}

.dateInput {
    display: flex;
    justify-content: center;
    align-items: center;
}