table {
    width: 100%;
    border: 0;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 20px 16px;
}

table tr {
    height: 25px;
    /*padding-bottom: 16px;*/
}

table th {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    /*margin-right: 20px;*/
    /*padding-right: 20px;*/
}
table td {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
}



.filter {
    padding-top: 8px;
}

.colId {
    /*min-width: 40px;*/
    width: 5%;
}

.colDate {
    width: 18%;
}

.colBig {
    width: 18%;
    max-width: 25%;
}

.colRole {
    width: 10%;
}

.ellipsis {
    position: relative;

}
.ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;
}

.ellipsis span {
    max-width: 146px;
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    width: 25px;
}

@media (min-width: 320px) and (max-width: 450px) {
    .table {
        display: none;
    }
}